* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    color: #22A7F0;
    margin-bottom: 1%;
}

hr {
    width: 20%;
    margin-top: 0;
}

#button-container {
    text-align: center;
}

#create-user {
    background-color: #D2D7D3;
    color: #044F67;
    font-weight: bold;
    border-radius: 5px;
    border: 0.5px solid #044F67;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 7px;
}

button:hover {
    cursor: pointer;
    transform: scale(0.98);
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.8em;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
    font-size: 1em;
}

td {
    width: 25%;
}

tr:nth-child(even) {
  background-color: #ECF0F1;
}

th {
    background-color: #22A7F0;
    color: white;
}

.user-name:hover {
    color: #317589;
    cursor: pointer;
}